<div class="gravatar-hovercard"><style></style>
	<div class="gravatar-hovercard__inner">
		
		<div class="gravatar-hovercard__header">
			<a class="gravatar-hovercard__avatar-link" href="https://gravatar.com/tvanreenen?utm_source=hovercard" target="_blank">
				<img class="gravatar-hovercard__avatar" src="https://1.gravatar.com/avatar/6256333a900b9ffbda28cf5476a9219573ce102e60ea0365573293014f4b531c?s=256" width="104" height="104" alt="Tim VanReenen">
			</a>
			<a class="gravatar-hovercard__personal-info-link" href="https://gravatar.com/tvanreenen?utm_source=hovercard" target="_blank">
				<h4 class="gravatar-hovercard__name">Tim VanReenen</h4>
			</a>
		</div>
		
		<div class="gravatar-hovercard__social-links">
			<a class="gravatar-hovercard__social-link" href="https://gravatar.com/tvanreenen?utm_source=hovercard" target="_blank" data-service-name="gravatar">
				<img class="gravatar-hovercard__social-icon" src="https://secure.gravatar.com/icons/gravatar.svg" width="32" height="32" alt="Gravatar">
			</a>
			
			<a class="gravatar-hovercard__social-link" href="https://www.linkedin.com/in/tvanreenen" target="_blank" data-service-name="linkedin">
				<img class="gravatar-hovercard__social-icon" src="https://s.gravatar.com/icons/linkedin.svg" width="32" height="32" alt="LinkedIn">
			</a>
		
			<a class="gravatar-hovercard__social-link" href="https://github.com/tvanreenen" target="_blank" data-service-name="github">
				<img class="gravatar-hovercard__social-icon" src="https://s.gravatar.com/icons/github.svg" width="32" height="32" alt="GitHub">
			</a>
		
			<a class="gravatar-hovercard__social-link" href="https://www.youtube.com/channel/UC_ahYR3NepAYiymLIVraC1w" target="_blank" data-service-name="youtube">
				<img class="gravatar-hovercard__social-icon" src="https://s.gravatar.com/icons/youtube.svg" width="32" height="32" alt="YouTube">
			</a>
		
		</div>
		
		<div class="gravatar-hovercard__buttons">
			<button class="gravatar-hovercard__button" data-target-drawer="contact">Contact</button>
		</div>
	
		<div class="gravatar-hovercard__footer">
			<a class="gravatar-hovercard__profile-url" title="https://gravatar.com/tvanreenen" href="https://gravatar.com/tvanreenen?utm_source=profile-card" target="_blank">
				gravatar.com/tvanreenen
			</a>
			<a class="gravatar-hovercard__profile-link" href="https://gravatar.com/tvanreenen?utm_source=profile-card" target="_blank">
				View profile →
			</a>
		</div>
		
		<div class="gravatar-hovercard__drawer" data-drawer-name="contact">
			<div class="gravatar-hovercard__drawer-backdrop" data-target-drawer="contact"></div>
			<div class="gravatar-hovercard__drawer-card">
				<div class="gravatar-hovercard__drawer-header">
					<h2 class="gravatar-hovercard__drawer-title">Contact</h2>
					<button class="gravatar-hovercard__drawer-close" data-target-drawer="contact">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 13.0607L15.7123 16.773L16.773 15.7123L13.0607 12L16.773 8.28772L15.7123 7.22706L12 10.9394L8.28771 7.22705L7.22705 8.28771L10.9394 12L7.22706 15.7123L8.28772 16.773L12 13.0607Z" fill="#101517"></path>
						</svg>
					</button>
				</div>
				<ul class="gravatar-hovercard__drawer-items">	
					<li class="gravatar-hovercard__drawer-item">
						<img class="gravatar-hovercard__drawer-item-icon" width="24" height="24" src="https://secure.gravatar.com/icons/mail.svg" alt="">
						<div class="gravatar-hovercard__drawer-item-info">
							<span class="gravatar-hovercard__drawer-item-label">email</span>
							<span class="gravatar-hovercard__drawer-item-text"><a class="gravatar-hovercard__drawer-item-link" href="mailto:tim.vanreenen@gmail.com" target="_blank">tim.vanreenen@gmail.com</a></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		const hovercardInner = document.querySelector('.gravatar-hovercard__inner');

		function openDrawer( target, container ) {
			const selector = '.gravatar-hovercard__drawer[data-drawer-name="' + target.dataset.targetDrawer + '"]';
			const drawer = container.querySelector( selector );
			drawer?.classList.add( 'gravatar-hovercard__drawer--open' );
		}

		function closeDrawer( target, container ) {
			const selector = '.gravatar-hovercard__drawer[data-drawer-name="' + target.dataset.targetDrawer + '"]';
			const drawer = container.querySelector( selector );
			drawer?.classList.add( 'gravatar-hovercard__drawer--closing' );
			drawer?.classList.remove( 'gravatar-hovercard__drawer--open' );
			
			setTimeout( () => {
				drawer?.classList.remove( 'gravatar-hovercard__drawer--closing' );
			}, 300 );
		}

		hovercardInner.querySelectorAll( '.gravatar-hovercard__button' ).forEach( ( el ) => {
			el.addEventListener( 'click', () => openDrawer( el, hovercardInner ) );
		} );
		hovercardInner.querySelectorAll( '.gravatar-hovercard__drawer-close' ).forEach( ( el ) => {
			el.addEventListener( 'click', () => closeDrawer( el, hovercardInner ) );
		} );
		hovercardInner.querySelectorAll( '.gravatar-hovercard__drawer-backdrop' ).forEach( ( el ) => {
			el.addEventListener( 'click', () => closeDrawer( el, hovercardInner ) );
		} );
	</script>
</div>